.wrapper {
  width: 900px;
  height: 56px;
  box-sizing: border-box;

  .optionsText {
    color: #232323;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}

.gap20px {
  gap: 20px;
}

.gap5px {
  gap: 5px;
}
