.wrapper {
  box-sizing: border-box;
  background: #FFFFFF;
  width: 1552px;
  height: 88px;

  .label {
    margin-right: 66px;
  }

  .card {
    width: 152px;
    height: 40px;
    margin-left: 797px;
    cursor: pointer;
  }

  .headers {
    margin-right: 32px;
    color: #0058A4;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
  }
}

