.drawer {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #232323;
  box-sizing: border-box;
}

.headerWrapper {
  width: 1551px;
  height: 540px;
  gap: 31px
}

.wrapper {
  width: 1024px;
  height: 540px;
  background: #F4F4F4;
  border-radius: 24px;
  padding: 24px 32px;
  box-sizing: border-box;

  .wrapperCardDrawerList {
    width: 960px;
    height: 428px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #DEE9FF;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button:vertical:start:decrement,
    &::-webkit-scrollbar-button:vertical:end:increment,
    &::-webkit-scrollbar-button:horizontal:start:decrement,
    &::-webkit-scrollbar-button:horizontal:end:increment {
      background-color: transparent
    }
  }

  .wrapperCheckboxAndAddAll {
    width: 960px;
    height: 56px;
    align-items: center;
    box-sizing: border-box;
  }

  .wrapperAddOrDeleteALl {
    width: 156px;
    height: 56px;
    gap: 12px;
    padding-left: 12px;
    align-items: center;
    margin-left: 5px;
    margin-right: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #232323;
    box-sizing: border-box;
  }

  .textDeleteAll {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #EB4646;
    cursor: pointer;
    box-sizing: border-box;
  }

  .gap12px {
    gap: 12px;
  }
}