.wrapper {
  width: 1060px;
  height: 56px;
  box-sizing: border-box;
  margin-top: 20px;

  .optionsText {
    color: #232323;

    box-sizing: border-box;
  }
}

.gap20px {
  gap: 20px;
}

.marginLeft20px {
  margin-left: 20px;
}


