.wrapper {
  width: 1552px;
  height: 250px;

  .header {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #0058A4;
  }

  .constructor {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #232323;
    margin-bottom: 40px;
  }
}

.gap32px {
  gap: 32px;
}